.container {
width: 1200px;
    display: grid;
    grid-template-columns: 110px 110px 110px 1fr 1fr 1fr 1fr 220px;
    grid-template-rows: 25px 20px 60px 220px 550px 20px 300px auto;
    /*grid-gap: 5px;*/
    grid-template-areas:    "t t t t t t t t"
                            "i i i . . . . f"
                            "k k k . . . . f"
                            "b b b p p a a f"
                            "e e e e e e e f"
                            "r r r r r r r f"
                            "d d d d d d d f";


    background-color: rgb(247, 249, 251);
    padding: 2px;

}

#title {
    grid-area: t;
    background-color: rgb(212, 231, 250);
    font-size: 16px;
    padding-left: 5px;
}

.panel-title {
    background-color: rgb(212, 231, 250);
    font-size: 10px;
    padding-left: 5px;
}

#kri-panel-title {
    grid-area: i;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-size: 10px;
}

.kri-panel {
    grid-area: k;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    font-size: 10px;
    /*grid-gap: 5px;*/
}

.kri-header {
    background-color: rgb(237, 239, 241);
    padding-left: 5px;
}

.kri-data {
    background-color: white;
    font-size: 14px;
    padding-left: 5px;
}


.book-owner-chart {
     grid-area: b;
     display: grid;
     /*grid-gap: 5px;*/
     grid-template-columns: 1fr;
     grid-template-rows: 20px 1fr;
 }

.book-owner-pnl-chart {
    grid-area: p;
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
}

.amender-chart {
    grid-area: a;
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
}


#filter-panel-title {
    grid-area: l;
    font-size: 10px;
    padding-left: 5px;
}

.filter-panel {
    grid-area: f;
    display: grid;
    background-color: rgb(212, 231, 250);

    grid-template-columns: 220px;
    grid-template-rows: 20px repeat(12, 20px) repeat(6, 20px 60px);
    align-content: safe;
    font-size: 10px;
    /*grid-gap: 5px;*/
;
}

.filter-button {
    font-size: 10px;
    background-color: #0e90d2;
    color: #e6e6e6;
}

.events-by-date-chart {
    grid-area: e;
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 20px repeat(3, 20px 1fr);
}

.chart-title {
    background-color: rgb(237, 239, 241);
    font-size: 10px;
    color: #0e0e0e;
    padding-left: 5px;
}


.element-title {
    background-color: rgb(189, 209, 228);
    color: #000000;
    align-content: center;
    font-size: 10px;
    border-bottom-color: #0000FF;
    border-bottom-width: 2px;
    padding-left: 5px;
}

#trade-detail-title{
    grid-area: r;
}
.trade-detail {
    grid-area: d;
    display: grid;
    grid-template-columns: repeat(18, max-content);
    grid-template-rows: repeat(10, 20px) auto;
    font-size: 10px;

}

.dc-table-group{
     background-color: rgb(237, 239, 241);
 }

.dc-select-menu {
    font-size: 10px;
}

.dc-chart text {
    font-size: 10px;
    color: black; /* Insert color here */;
}

.dc-chart g.row text {
    font-size: 10px;
    color: black;
     }
.dc-legend {
    font-size: 10px; }

.dc-chart svg > g > text {
    color: black;
}



